.table-container {
    padding: 20px;
}

.add-customer-button {
    background-color: #6200ea;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th, .custom-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.custom-table th {
    background-color: #f2f2f2;
}

.status.delivered {
    color: green;
}

.status.process {
    color: orange;
}

.status.canceled {
    color: red;
}

.edit-button, .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.edit-button {
    color: #6200ea;
    margin-right: 10px;
}

.delete-button {
    color: red;
}

.search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
